html, body, #controller, .container {
	height: 100%;
}
#tweetContainer {
	height: 80%;
	overflow: scroll;
	border: 1px solid lightgray;
	border-radius: 4px;
}
#trendGraphContainer {
	height: 80%;
}
.tweetSentiment {
	font-size: 30px;
	padding: 0px;
	margin-top: 10px;
	float: left;
}
.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px
}